{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""> {% comment %}
    <link rel="icon" href="../../../../favicon.ico"> {% endcomment %}

    <title><app_name></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '<app_name>/css/base.css' %}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url '<app_name>_home' %}">
                <img style="height:36px;padding-right:10px;" src="{% static '<app_name>/logo_no_text.png' %}" alt="Dashboard"> <app_name>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    {% for tab in tabs_primary %}
                        <li{% if active_tab == tab.name.lower %} class="nav-item active"{% endif %}>
                            <a class="nav-link" href="{{ tab.url }}">{{ tab.name }}</a>
                        </li>
                    {% endfor %}
                        <input type="text" name="search" class="nav-search">
                </ul>
                {% if user.is_authenticated %}
                <div class="dropdown navbar-account">
                    <span class="dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true">
                        {% if user.picture_url %}
                            <img style="height:42px;width:42px;border-radius: 50%;" src="{{ user.picture_url }}" alt="User">
                        {% endif %}
                        <!-- {{ user.get_full_name }} -->
                    </span>
                    <div class="dropdown-menu" aria-labelledby="profile-drop-down-menu">
                        {# <a class="dropdown-item" href="{% url '<app_name>_sign_out' %}">Sign out</a> #}
                    </div>
                </div>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a href="#" onclick="fbLogin()">Sign In/Sign Up</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block container %}
    <div class="container">
        <div class="content-box">
            {% block bread-crumbs %}{% endblock %}
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ message }}
                    </div>
                    <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
                {% endfor %}
            {% endif %}
            {% block pre-content %}{% endblock %}
            {% block main-content %}
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div><!-- /.container -->
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="{% static '<app_name>/js/base.js' %}"></script>

    <script>
        {% block footer_script %}{% endblock %}
    </script>

    {% block footer %}
    {% endblock %}
</body>

</html>